/*= GLOBAL =========================================================================================*/
/*- GLOBAL -----------------------------------------------------------------------------------------*/
/*- GLOBAL -----------------------------------------------------------------------------------------*/

html, body {
  font-family: Lato, sans-serif;
  color: #424551;
  line-height: 160%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.burger {
  display: none;
}

.main_about {
  padding: 180px 0 160px;
}

.main_directions {
  padding-bottom: 180px;
}

.main_cert {
  margin-bottom: -46px;
}

.main_team {
  padding: 160px 0px 180px;
}

.main_testimonials {
  padding-bottom: 195px;
}

.main_companies {
  padding-bottom: 177px;
}

.main_program {
  padding: 115px 0 185px;
}

.main_blog {
  padding-bottom: 200px;
}

.main_info {
  padding-bottom: 180px;
}

.main_questions {
  padding-bottom: 180px;
}

.button {
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 52px;
  padding: 0 40px;
  color: #fff;
  border-radius: 4px;
  background: var(--btn-gradient,
      linear-gradient(56deg,
        #FF3F3A 0%,
        #F75E05 100%));
  white-space: nowrap;
  transition: 0.3s;
}

.button:hover {
  transform: scale(1.05);
}

.button--empty {
  background-image: none;
  border-left: 2px solid #FF3F3A;
  border-right: 2px solid #F75E05;
  background-image:
    -webkit-linear-gradient(left, #FF3F3A, #F75E05),
    -webkit-linear-gradient(left, #FF3F3A, #F75E05);
  background-image:
    linear-gradient(left, #FF3F3A, #F75E05),
    linear-gradient(left, #FF3F3A, #F75E05);
  background-size: 100% 2px;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-clip: border-box;
}

.button--empty span {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.heading {
  color: #1E212C;
}

.heading_subtitle {
  line-height: 150%;
  margin-bottom: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.heading--text-center {
  text-align: center;
}



/*= HEADER ======================================================================================*/
/*- HEADER-TOP ----------------------------------------------------------------------------------*/
/*- HEADER-TOP ----------------------------------------------------------------------------------*/




.header {
  font-weight: 700;
  background:
    url("../images/decor/header_BG_shapes.svg") 50% 50% / 100% 100% no-repeat,
    linear-gradient(55.95deg,
      rgba(255, 63, 58, 0.2) 0%,
      rgba(247, 94, 5, 0.2) 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header_top-inner {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  margin-right: 60px;
}

.header_nav {
  margin-right: auto;
}

.header_nav-list {
  display: flex;
}

.header_nav-item {
  margin-right: 40px;
}

.header_nav-item:last-child {
  margin-right: 0;
}

.header_nav-link {
  line-height: 1.6;
  white-space: nowrap;
  transition: all .3s;
}

.header_nav-link:hover {
  color: #FF3F3A;
}

.header_btn-box {
  display: flex;
  align-items: center;
}

.header_top-btn {
  margin-right: 36px;
}

.header_user {
  position: relative;
  padding-left: 28px;
}

.header_user::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  background: url(../images/icons/person.svg) no-repeat;
  width: 20px;
  height: 20px;
}

.header_user-btn {
  white-space: nowrap;
  line-height: 1.6;
  transition: all .3ms;
}

.header_user-btn:hover {
  color: #FF3F3A;
}

.header_body {
  flex-grow: 1;
}


/*- HEADER-BODY ---------------------------------------------------------------------------------*/
/*- HEADER-BODY ---------------------------------------------------------------------------------*/



.header_body-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1E212C;
  margin: auto 0;
}

.header_content {
  margin-right: 30px;
}

.header_play {
  display: inline-flex;
  align-items: center;
  margin-bottom: 24px;
}

.header_play svg {
  border-radius: 50%;
  margin-right: 16px;
  transition: all 0.3s;
}

.header_play:hover svg {
  box-shadow: 0 0 0 16px rgba(255, 63, 58, 0.12);
}

.header_title {
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 1px;
  max-width: 500px;
  margin-bottom: 60px;
}

.header-content-buttons {
  display: flex;
}

.header-content-button {
  margin-right: 24px;
}

.header-content-button:last-child {
  margin-right: 0;
}

.header_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1E212C;
  margin-bottom: 80px;
}

.header_row>span {
  background: #FF3F3A;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 15px;
}

.header_row-item {
  display: flex;
  align-items: center;
}

.header_row-item span {
  font-size: 46px;
  font-weight: 900;
  line-height: 130%;
  margin-right: 12px;
  ;
}




/*= ABOUT =======================================================================================*/
/*- ABOUT-CREATEX -------------------------------------------------------------------------------*/
/*- ABOUT-CREATEX -------------------------------------------------------------------------------*/





.about_createx {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 180px;
  position: relative;
}

.about_createx::before {
  content: "";
  position: absolute;
  top: -80px;
  right: -140px;
  background: url("../images/decor/main_BG_shapes_1.svg");
  width: 100px;
  height: 85px;
}

.about_createx-content {
  max-width: 600px;
  margin-right: 30px;
}

.heading_title {
  font-size: 46px;
  font-weight: 900;
  line-height: 130%;
}

.about_heading {
  margin-bottom: 48px;
}

.about_text {
  margin-bottom: 60px;
}

.about_paragraph {
  margin-bottom: 24px;
}

.about_paragraph:last-child {
  margin-bottom: 0;
}

.about_paragraph--accent {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  color: #1E212C;
}

.about_btn-box {
  display: flex;
}

.about-button {
  margin-right: 24px;
}

.about-button:last-child {
  margin-right: 0;
}


/*- ABOUT-VALUES --------------------------------------------------------------------------------*/
/*- ABOUT-VALUES --------------------------------------------------------------------------------*/



.about_values {
  display: flex;
  justify-content: space-between;
}

.about_image-box {
  border-radius: 4px;
  overflow: hidden;
}

.about_image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__numbers {
  margin-left: 30px;
  align-self: center;
  white-space: nowrap;
}

.about_number {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.about_number:last-child {
  margin-bottom: 0;
}

.about_number span {
  color: #FF3F3A;
  font-size: 48px;
  font-weight: 900;
  line-height: 130%;
  letter-spacing: 1px;
  margin-right: 16px;
}


/*- DIRECTIONS ----------------------------------------------------------------------------------*/
/*- DIRECTIONS ----------------------------------------------------------------------------------*/



.directions_inner {
  position: relative;
}

.directions_inner::before {
  content: "";
  display: block;
  position: absolute;
  top: 30px;
  left: -190px;
  width: 136px;
  height: 115px;
  background: url(/images/decor/main_BG_dots_2.svg) 0 0 no-repeat;
}

.directions_inner::after {
  content: "";
  display: block;
  position: absolute;
  top: 400px;
  right: -400px;
  width: 243px;
  height: 243px;
  background: url(/images/decor/main_BG_circles_3.svg) 0 0 no-repeat;
}

.directions_heading {
  margin-bottom: 90px;
}

.directions_filter-box {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}

.directions_filter-item {
  margin-right: 45px;
  margin-bottom: 15px;
}

.directions_filter-item:last-child {
  margin-right: 0;
}

.directions_filter-button {
  display: block;
  background-color: transparent;
  color: #9A9CA5;
  border-radius: 4px;
  border: 1px solid #9A9CA5;
  font-weight: 700;
  font-size: 16px;
  padding: 5px 7px;
  line-height: 1;
  white-space: nowrap;
}

.directions_filter-button--active {
  background: var(--btn-gradient,
      linear-gradient(55.95deg,
        #FF3F3A 0%,
        #F75E05 100%));
  border: none;
  color: #fff;
  padding: 6px 8px;
}

.directions_list {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  gap: 30px;
}

.directions_list-link {
  display: block;
  border-radius: 4px;
  overflow: hidden;
  transition: all 1s;
}

.directions_list-link:hover {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  transition: all 0.3s;
}

.directions_list-link:hover .directions_link-btn {
  color: #FF3F3A;
  transition: all 0.3s;
}

.directions_image-box img {
  height: 100%;
  width: 100%;
}

.directions_link-content {
  display: flex;
  padding: 24px;
  flex-direction: column;
  border: 1px solid #e5e8ed;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.directions_link-tag {
  line-height: 1;
  font-weight: 700;
  color: #fff;
  background-color: #999;
  padding: 6px 8px;
  border-radius: 4px;
  align-self: flex-start;
  margin-bottom: 20px;
}

.directions_link-text {
  margin-bottom: 20px;
  color: #787A80;
}

.directions_link-btn {
  color: #1E212C;
  display: flex;
  font-weight: 700;
  transition: all 1s;
}

.directions_link-btn::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url(/images/icons/arrow-right.svg) 0 2px / 100% no-repeat;
  margin-left: 11px;
}

.direction_list-item--empty {
  background: #F4F5F6;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.direction_list-item--empty span {
  max-width: 240px;
}

.directions_list-item--marketing .directions_link-tag {
  background-color: #03CEA4;
}

.directions_list-item--management .directions_link-tag {
  background-color: #5A87FC;
}

.directions_list-item--hr .directions_link-tag {
  background-color: #F89828;
}

.directions_list-item--design .directions_link-tag {
  background-color: #F52F6E;
}

.directions_list-item--development .directions_link-tag {
  background-color: #7772F1;
}


/*- CERTIFICATION -------------------------------------------------------------------------------*/
/*- CERTIFICATION -------------------------------------------------------------------------------*/



.cert_inner {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.cert_inner::before {
  content: "";
  display: block;
  position: absolute;
  top: -15px;
  left: -190px;
  width: 60px;
  height: 60px;
  background: url(/images/decor/main_BG_shapes_4.svg) 0 0 no-repeat;
}

.cert_content {
  margin-right: 30px;
  max-width: 400px;
}

.cert_heading {
  margin-bottom: 50px;
}

.cetr_text {
  margin-bottom: 30px;
}

.cert_logos {
  display: flex;
}

.logos_item {
  margin-right: 40px;
}

.logos_item:last-child {
  margin-right: 0;
}

.cert_image-box {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16),
    0px 30px 24px -10px rgba(154, 156, 165, 0.10),
    0px 12px 10px -6px rgba(154, 156, 165, 0.08),
    0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}

.cert_image-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/*- TEAM - SLIDER -------------------------------------------------------------------------------*/
/*- TEAM - SLIDER -------------------------------------------------------------------------------*/



.team {
  background: url("/images/decor/mainTeam_BG_group_1.svg") calc(50% + 0px) calc(50% + 0px) no-repeat, #F4F5F6;
}

.team_heading {
  margin-bottom: 60px;
  position: relative;
}

.team_slider .slick-list {
  margin: 0 -15px;
}

.team_slide {
  padding: 0 15px;
}

.team_slide :hover .team_socials {
  transform: translateY(0%);
}

.team_image-box {
  border-radius: 4px;
  margin-bottom: 16px;
  overflow: hidden;
  position: relative;
}

.team_image {
  position: relative;
  height: 340px;

}

.team_image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.team_socials {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background: linear-gradient(180deg,
      rgba(30, 33, 44, 0.00) 43.9%,
      rgba(30, 33, 44, 0.03) 55.21%,
      rgba(30, 33, 44, 0.33) 68.73%,
      rgba(30, 33, 44, 0.56) 76.17%,
      rgba(30, 33, 44, 0.77) 83.75%,
      rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
  transform: translateY(50%);
  transition: all 0.3s;
}

.team_social-item {
  margin-right: 12px;
}

.team_social-item:last-child {
  margin-right: 0;
}

.team_social-link {
  display: block;
  line-height: 0;
}

.team_social-link path {
  transition: all 0.3s;
}

.team_social-link:hover path {
  fill: #fff;
}

.team_info {
  text-align: center;
}

.team_info-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 5px;
}

.team_info-position {
  color: #787A80;
}

.team_slider-arrows {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.team_slider-arrow {
  display: block;
  line-height: 0;
  border-radius: 50%;
  position: relative;
}

.team_slider-arrow:hover path {
  transition: all 0.3s;
}

.team_slider-arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 48px;
  height: 48px;
  background-color: #FF3F3A;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.3s;
}

.team_slider-arrow:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.team_slider-arrow:hover path {
  fill: #fff;
}

.team_slider-prev {
  margin-right: 24px;
}


/*- TESTIMONIALS --------------------------------------------------------------------------------*/
/*- TESTIMONIALS --------------------------------------------------------------------------------*/



.testimonials {
  background: #F4F5F6;
  position: relative;
}

.testimonials::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-44.9%, -55.4%);
  background: url(/images/decor/mainTeam_BG_group_2.svg) 0 0 / 100% no-repeat, #F4F5F6;
  width: 1971px;
  height: 816px;
}

.testimonials_inner {
  position: relative;
  z-index: 1;
}

.testimonials_heading {
  margin-bottom: 60px;
}

.testimonials_slider-wrapper {
  padding: 0 50px;
  position: relative;
  margin-bottom: 50px;
}

.testimonials_slider {
  max-width: 1020px;
  margin: 0 auto;
}

.testimonials_slide {
  padding: 64px;
  background-color: #fff;
  border-radius: 4px;
}

.slide_inner {
  max-width: 810px;
  margin: 0 auto;
  padding-left: 58px;
}

.testimonials_quote {
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 24px;
  position: relative;
}

.testimonials_quote::before {
  content: "";
  position: absolute;
  top: 0;
  left: -58px;
  background: url("../images/icons/braces.svg") 0 0 / 100% no-repeat;
  width: 28px;
  height: 20px;

}

.testimonials_user {
  display: flex;
  align-items: center;
}

.testimonials_user-avatar {
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.testimonials_info-name {
  font-weight: 700;
  color: #1E212C;
  margin-bottom: 4px;
}

.testimonials_info-position {
  font-size: 14px;
  line-height: 150%;
  color: #787A80;
}

.testimonials_arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  display: flex;
  align-items: center;
  z-index: 5;
}

.testimonials_arrow path {
  transition: all 0.3s;

}

.testimonials_arrow::before {
  content: "";
  position: absolute;
  top: 50%;

  background-color: #FF3F3A;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.3s;
}

.testimonials_prev {
  left: 0;
}

.testimonials_prev::before {
  transform: translate(-50%, -50%) scale(0);
  left: 20%;
}

.testimonials_next {
  right: 0;
  justify-content: flex-end;
}

.testimonials_next::before {
  transform: translate(-50%, -50%) scale(0);
  left: 75%;
}

.testimonials_prev:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.testimonials_next:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.testimonials_arrow:hover path {
  fill: #fff;
}

.testimonials_dots .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials_dots li {
  margin-right: 12px;
}

.testimonials_dots .slick-active button::before {
  background-color: #424551;
  transition: all 0.3s;
}

.testimonials_dots button {
  font-size: 0;
  background-color: transparent;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;

}

.testimonials_dots button::before {
  content: "";
  height: 3px;
  width: 100%;
  background-color: #B3B7BC;
  border-radius: 3px;
}

.testimonials_dots li:last-child {
  margin-right: 0;
}


/*- COMPANIES -----------------------------------------------------------------------------------*/
/*- COMPANIES -----------------------------------------------------------------------------------*/



.companies {
  background: #F4F5F6;

}

.companies_inner {
  position: relative;
}

.companies_inner::before {
  content: "";
  position: absolute;
  bottom: -120px;
  left: -230;
  background: url("/images/decor/mainTeam_BG_shapes_3.svg") 0 0 / 100% no-repeat;
  width: 90px;
  height: 90px;
}

.companies_heading {
  margin-bottom: 60px;
}

.companies_grid {
  display: grid;
  grid-template: repeat(2, auto) / repeat(6, 1fr);
  gap: 40px 100px;
  margin: 0 auto;
}

.companies_grid-link {
  display: block;
}

.companies_grid-link img {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  opacity: 0.4;
  transition: all 1.3s;
}

.companies_grid-link:hover img {
  filter: grayscale(0);
  opacity: 1;
  transition: all 0.3s;
}


/*- ACCORDEON -----------------------------------------------------------------------------------*/
/*- ACCORDEON -----------------------------------------------------------------------------------*/



.program_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.program_content {
  margin-right: 30px;
  max-width: 600px;
}

.program_heading {
  margin-bottom: 60px;
}

.program_accordeon-item {
  margin-bottom: 24px;
}

.program_accordeon-link {
  display: block;
  padding-left: 40px;
}

.program_accordeon-item:last-child {
  margin-bottom: 0;
}

.program_accordeon-head {
  font-weight: 700;
  font-style: 20px;
  line-height: 150%;
  color: var(--gray-900, #1E212C);
  position: relative;
}

.program_accordeon-head span {
  font-weight: 400;
  color: #FF3F3A;
}

.program_accordeon-head::before,
.program_accordeon-head::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -40px;
  width: 18px;
  height: 2px;
  background-color: #FF3F3A;
  border-radius: 2px;
}

.program_accordeon-head::after {
  transform: rotate(90deg);
  transition: all 0.3s;
}

.program_accordeon-text {
  margin-top: 16px;
  display: none;
}

.program_accordeon-link--active .program_accordeon-head::after {
  transform: rotate(0deg);
}

.program__image {
  flex-shrink: 0;
}

.program__image img {
  width: 100%;
  height: 100%;
}


/*- BLOG ----------------------------------------------------------------------------------------*/
/*- BLOG ----------------------------------------------------------------------------------------*/




.blog_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px;
}

.blog_heading {
  margin-right: 30px;
}

.blog_row {
  display: flex;
  margin: 0 -15px;
}

.blog_item {
  padding: 0 15px;
  flex: 0 1 33.333%;
}

.blog_item-link {
  display: block;
  height: 100%;
  transition: all 1.3s;
}

.blog_item-link:hover {
  box-shadow: 0px 30px 30px 10px rgba(154, 156, 165, 0.08);
  transition: all 0.3s;
}

.blog_item-link:hover .blog_item-button {
  color: #FF3F3A;
  transition: all .3s;
}

.blog_item-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.blog_image-box {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  max-height: 315px;
  margin-bottom: 16px;
}

.blog_image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog_image-box span {
  display: flex;
  align-items: center;
  position: absolute;
  top: 12px;
  left: 12px;
  border-radius: 4px;
  background: var(--white, #FFF);
  padding: 1px 8px;
}

.blog_image-box span::before {
  content: "";
  display: block;
  width: 16px;
  height: 17px;
  margin-right: 4px;
}

.blog_item-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.blog_item-info {
  display: flex;
  margin: 0 -12px 8px;
}

.blog_info-element {
  padding: 0 12px;
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-700, #787A80);
}

.blog_info-element::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background-color: #787A80;
}

.blog_info-element::after:last-child {
  content: none;
}

.blog_info-date {
  display: flex;
  align-items: center;
}

.blog_info-date::before {
  content: "";
  display: block;
  width: 16px;
  height: 17px;
  background: url("/images/icons/blog/calendar.svg") 0 0 / 100% no-repeat;
  margin-right: 9px;
}

.blog_info-time {
  display: flex;
  align-items: center;
}

.blog_info-time::before {
  content: "";
  display: block;
  width: 16px;
  height: 17px;
  background: url("/images/icons/blog/clock.svg") 0 0 / 100% no-repeat;
  margin-right: 9px;
}

.blog_item-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  color: var(--gray-900, #1E212C);
  margin-bottom: 8px;
}

.blog_item-text {
  margin-bottom: 16px;
  flex-grow: 1;
}

.blog_item-button {
  display: flex;
  align-items: center;
  font-weight: 700;
  color: #1E212C;
  transition: all 1.3s;
}

.blog_item-button::after {
  content: "";
  width: 24px;
  height: 24px;
  background: url("/images/icons/arrow-right.svg") 0 0 / 100% no-repeat;
  margin-left: 8px;
}

.blog__item--podcast .blog__image-box {
  background: #a2d0f7;
}

.blog__item--video .blog__image-box {
  background: #caf0e3;
}

.blog__item--article .blog__image-box {
  background: #fff8aa;
}

.blog_item--podcast .blog_image-box span::before {
  background: url(/images/icons/blog/mic.svg) 0 0 / 100% no-repeat;
}

.blog_item--video .blog_image-box span::before {
  background: url(/images/icons/blog/Play.svg) 0 0 / 100% no-repeat;
}

.blog_item--article .blog_image-box span::before {
  background: url(/images/icons/blog/Files.svg) 0 0 / 100% no-repeat;
}


/*- INFO ----------------------------------------------------------------------------------------*/
/*- INFO ----------------------------------------------------------------------------------------*/





.info_inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.info_content {
  margin-right: 30px;
}

.info_heading {
  margin-bottom: 40px;
}

.info_contacts {
  margin-bottom: 50px;
}

.info_contacs-items {
  margin-bottom: 24px;
  padding-left: 24px;
}

.info_contacs-items:last-child {
  margin-bottom: 0x;
}

.info_item-top {
  color: var(--gray-700, #787A80);
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  position: relative;
}

.info_item-top::before {
  content: "";
  position: absolute;
  top: 0;
  left: -36px;
  width: 24px;
  height: 24px;
}

.info_item-link {
  font-size: 18px;
  line-height: 150%;
  transition: all 0.3s;
}

.info_item-link:hover {
  color: #FF3F3A;
}

.info_mail .info_item-top::before {
  background: url(/images/icons/message.svg) 0 0 / 100% no-repeat;
}

.info_telephone .info_item-top::before {
  background: url(/images/icons/phone.svg) 0 0 / 100% no-repeat;
}

.info_address .info_item-top::before {
  background: url(/images/icons/pin.svg) 0 0 / 100% no-repeat;
}

.info_address {
  font-size: 18px;
  line-height: 150%;
}

.info_follow_head {
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.info_socials {
  display: flex;
}

.info_socials-item {
  margin-right: 32px;
}

.info_socials-item:last-child {
  margin-right: 0;
}

.info_socials-link path {
  transition: all 0.3s;
}

.info_socials-link:hover path {
  fill: #1E212C;
}

.inf_map {
  height: 412px;
  max-width: 705px;
  width: 100%;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  overflow: hidden;
}


/*- QUESTION-FORM -------------------------------------------------------------------------------*/
/*- QUESTION-FORM -------------------------------------------------------------------------------*/




.questions_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.questions__image {
  min-width: 350px;
}

.questions__image img {
  height: 100%;
  width: 100%;
}

.questions_content {
  margin-left: 30px;
}

.questions_heading {
  margin-bottom: 40px;
}

.question_form-row {
  display: flex;
  margin-bottom: 24px;
}

.question_form-label {
  margin-right: 25px;
  flex: 1 1 auto;
}

.question_form-label:last-child {
  margin-right: 0;
}

.question_text-label {
  display: block;
  margin-bottom: 50px;
}

.question_form-text,
.question_form-input {
  display: block;
  border-radius: 4px;
  border: 1px solid var(--gray-400, #D7DADD);
  padding: 13px 16px;
  width: 100%;
  margin-top: 8px;
}

.question_form-text::placeholder,
.question_form-input::placeholder {
  color: #9A9CA5;
}

.question_form-text {
  resize: none;
  height: 128px;
}

.question_checkbox-label {
  margin-right: 50px;
  display: flex;
  width: 100%;
}

.question_form-checkbox {
  position: relative;
  width: 16px;
  height: 16px;
  flex: 0 0 auto;
  margin-top: 5px;
  margin-right: 12px;
}

.question_form-default {
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.question_form-default:checked+.guestion_form-custom {
  background: url(/images/icons/check.svg) 50% 50% no-repeat #FF3F3A;
  border: 1px solid #FF3F3A;
  ;
}

.guestion_form-custom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #424551;
  border-radius: 3px;
  cursor: pointer;
}

.question_form-btn {
  width: 100%;
  align-self: center;
  text-align: center;
  font-size: 16px;
}


/*= FOOTER ======================================================================================*/
/*- FOOTER --------------------------------------------------------------------------------------*/
/*- FOOTER --------------------------------------------------------------------------------------*/



.footer {
  color: #fff;
}

.footer_top {
  background-color: var(--gray-900, #1E212C);
  padding: 80px 0 60px;
}

.footer_top-inner {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
  width: 100%;
}

.footer_top-collomn {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.footer_top-collomn:first-child {
  max-width: 310px;
}

.footer_top-collomn:last-child {
  max-width: 315px;
}

.footer_top-logo {
  display: block;
  margin-bottom: 25px;
}

.footer_top-text {
  font-size: 12px;
  line-height: 150%;
  opacity: 0.6;
  margin-bottom: 38px;
}

.footer_socials {
  display: flex;
}

.footer_socials-item {
  margin-right: 20px;
}

.footer_socials-item:last-child {
  margin-right: 0;
}

.footer_socials-link path {
  transition: all 0.3s;
}

.footer_socials-link:hover path {
  fill: #fff;
}

.footer_top-title {
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  white-space: nowrap;
  pointer-events: none;
}

.footer_top-collomn:last-child .footer_top-title {
  white-space: normal;
}

.footer_top-item {
  margin-bottom: 8px;
}

.footer_top-item:last-child {
  margin-bottom: 0;
}

.footer_item-link {
  opacity: 0.6;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  white-space: nowrap;
}

.footer_item-link svg {
  margin-right: 8px;
}

.footer_item-link:hover {
  opacity: 1;
}

.footer_form-items {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  background: rgba(255, 255, 255, 0.12);
  margin-bottom: 12px;
  display: flex;
}

.footer_form-input {
  color: #fff;
  padding: 9px 0px 9px 12px;
  font-size: 12px;
  line-height: 150%;
  width: 100%;
  position: relative;
  background-color: transparent;
}

.footer_form-input::placeholder {
  color: #fff;
  opacity: 0.6;
}

.footer_form-button {
  background: transparent;
  padding: 10px 12px;
}

.footer_form-button::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url(/images/logos/input/small/Right.svg);
  transition: all 0.3s;
}

.footer_form-button:hover::before {
  transform: scale(1.2);
}

.footer_form-descriprion {
  font-size: 10px;
  line-height: 150%;
}

.footer_bottom {
  background-color: #292C37;
}

.footer_bottom-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.footer_copy span {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(/images/icons/heart.svg) 0 0 / 100% 100% no-repeat;
  vertical-align: sub;
}

.footer_go-top {
  opacity: 0.6;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  transition: all 0.3s;
}

.footer_go-top:hover {
  opacity: 1;
}


/*= MEDIA =======================================================================================*/
/*- MEDIA ---------------------------------------------------------------------------------------*/
/*~ MEDIA - 1200px ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


@media(max-width: 1200px) {
  .header_title {
    font-size: 52px;
    max-width: 376px;
  }

  .header_image img {
    max-width: 450px;
  }

  /*---------------------------------------------------------------------------------------------*/

  .blog_item-info {
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 8px;
  }

  .blog_info-element {
    padding: 0;
  }

  .blog_info-element::after {
    content: none;
  }

  .blog_info-directions {
    order: 1;
  }

  .blog_info-date {
    order: 3;
    flex-basis: 100%;
  }

  .blog_info-time {
    order: 2;
  }
}

/*~ MEDIA - 1100px ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



@media(max-width: 1100px) {
  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 50;
    background: rgba(0, 0, 0, 0.349);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
  }

  .overlay--show {
    visibility: visible;
    opacity: 1;
  }


  .burger {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 150;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
  }

  .burger--follow {
    background-color: #fff;
    box-shadow: 0 1px 8px #a1a1a1;
    top: 15px;
    right: 15px;
  }

  .burger span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #424551ff;
    border-radius: 3px;
    margin: 4px 0;
  }

  .burger::before,
  .burger::after {
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background-color: #424551ff;
    border-radius: 3px;
  }

  .header {
    padding-top: 92px;
  }

  .header_top {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;
    min-width: 320px;
    transform: translateX(100%);
    transition: all 0.3s;
  }

  .header_top--open {
    transform: translatex(0%);
  }

  .header_top-inner {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 100px 0;
  }

  .header_logo {
    margin: 0 0 30 0;
  }

  .header_nav {
    text-align: center;
    margin: 0 auto;
    flex-grow: 1;
  }

  .header_nav-list {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .header_nav-item {
    margin: 0;
  }

  .header_nav-link {
    display: block;
    padding: 10px;
  }

  .header_btn-box {
    flex-direction: column-reverse;
  }

  .header_top-btn {
    margin: 0;
  }

  .header_user {
    margin-bottom: 30px;
  }

  /*---------------------------------------------------------------------------------------------*/

  .heading_title {
    font-size: 37px;
  }

  .about_image {
    max-width: 400px;
  }


  /*---------------------------------------------------------------------------------------------*/

  .cert_inner {
    flex-direction: column;
    align-items: center;
  }

  .cert_content {
    margin: 0px 0px 30px 0px;
  }

  .cert_heading {
    text-align: center;
  }

  /*---------------------------------------------------------------------------------------------*/

  .companies_grid {
    gap: 40px 5.0%;
  }

  /*---------------------------------------------------------------------------------------------*/

  .program__image {
    max-width: 400px;
  }

  /*---------------------------------------------------------------------------------------------*/

  .footer_top-inner{
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .footer_top-collomn{
    margin-bottom: 30px;
  }

  .footer_top-collomn:first-child{
    flex-basis: 100%;
    max-width: none;
    margin-bottom: 30px;
  }

  .footer_top-collomn:last-child{
    margin-bottom: 0;
    max-width: none;
    flex-basis: 100%;
  }

  .footer_form-items{
    max-width: 315px;
  }
}



/*~ MEDIA - 1000px ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


@media (max-width: 1000px) {
  .program_content {
    margin-right: 0;
  }

  .program_image {
    display: none;
  }
}

/*~ MEDIA - 900px ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


@media(max-width: 900px) {
  .header_content {
    margin: 0;
  }

  .header_image {
    display: none;
  }

  .header_row {
    display: none;
  }

  /*---------------------------------------------------------------------------------------------*/


  .about_img {
    display: none;
  }

  /*---------------------------------------------------------------------------------------------*/


  .directions_filter-item {
    margin-right: 10px;
  }

  .directions_list {
    gap: 30px 10px;
  }

  .directions_link-content {
    padding: 24px 5px 5px;
  }

  /*---------------------------------------------------------------------------------------------*/

  .companies_grid {
    grid-template: repeat(3, auto) / repeat(4, 1fr);
  }

  /*---------------------------------------------------------------------------------------------*/

  .blog_row {
    flex-direction: column;
    margin: 0;
  }

  .blog_item {
    padding: 0px 0px 30px;
  }

  .blog__image-box {
    display: flex;
    justify-content: center;
  }

  .blog__image-box img {
    width: auto;
  }

  /*---------------------------------------------------------------------------------------------*/

  .info_inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .info_content {
    margin: 0px 0px 30px 0px;
  }

  .inf_map {
    height: 200px;
    width: 100%;
    max-width: none;
  }

  /*---------------------------------------------------------------------------------------------*/

  .question_image{
    display: none;
  }

  .questions_content{
    margin: 0;
    width: 100%;
  }
}

/*~ MEDIA - 700px ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


@media(max-width: 700px) {
  .about_createx {
    margin-bottom: 60px;
  }

  .about_values {
    flex-direction: column;
  }

  .about_image-box {
    display: none;
  }

  .about_numbers {
    margin: 0;
    align-self: flex-start;
  }

  /*---------------------------------------------------------------------------------------------*/

  .directions_list {
    grid-template: repeat(3, auto) / repeat(2, 1fr);
  }

  /*---------------------------------------------------------------------------------------------*/

  .testimonials_slider-wrapper {
    padding: 0;
  }

  .team_slide {
    padding: 30px 15px;
  }

  .testimonials_arrow {
    display: none;
  }
}

/*~ MEDIA - 550px ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


@media(max-width: 550px) {
  .heading {
    margin-bottom: 30px;
  }

  .heading_subtitle {
    font-size: 14px;
    margin: 0;
  }

  .heading_title {
    font-size: 25px;
  }

  /*---------------------------------------------------------------------------------------------*/

  .main_about,
  .main_program {
    padding: 60px 0 100px;
  }

  .main_directions,
  .main_testimonials,
  .main_blog,
  .main_info {
    padding-bottom: 100px;
  }

  .main_team {
    padding: 120px 0px 100px;
  }

  .main_companies {
    padding-bottom: 40px;
  }

  .main_questions {
    padding-bottom: 40px;
  }

  /*---------------------------------------------------------------------------------------------*/

  .about_text {
    margin-bottom: 30px;
  }

  .about_paragraph {
    font-size: inherit;
    margin-bottom: 10px;
  }

  .about_btn-box {
    flex-direction: column;
  }

  .about-button {
    margin: 0px 0px 30px 0px;
  }

  .about-button:last-child{
    margin: 0;
  }

  /*---------------------------------------------------------------------------------------------*/

  .directions_list {
    grid-template: none;
  }

  .direction_list-item--empty {
    display: none;
  }

  /*---------------------------------------------------------------------------------------------*/

  .team_slider-arrows {
    display: none;
  }

  .team_image-box {
    max-width: 300px;
    margin: 0 auto 16px;
  }

  /*---------------------------------------------------------------------------------------------*/

  .testimonials_slider-wrapper {
    margin-bottom: 15px;
  }

  .slide_inner {
    padding-left: 30px;
  }

  .testimonials_quote {
    font-size: inherit;
    line-height: inherit;
  }

  .testimonials_quote::before {
    left: -30px;
    width: 20px;
  }

  .testimonials_dots button {
    width: 20px;
  }


  /*---------------------------------------------------------------------------------------------*/

  .companies_grid {
    grid-template: repeat(4, auto) / repeat(3, 1fr);
  }

  /*---------------------------------------------------------------------------------------------*/

  .program_accordeon-head {
    font-size: inherit;
    line-height: inherit;
  }

  /*---------------------------------------------------------------------------------------------*/

  .blog_top {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
  }

  /*---------------------------------------------------------------------------------------------*/

  .question_form-row{
    flex-direction: column;
  }

  .question_form-label{
    margin: 0px 0px 24px 0px;
  }

  .question_form-label:last-child{
    margin: 0;
  }

  .question_form-input,
  .question_form-text{
    margin-top: 0;
  }
  .question_text-label{
    font-size: 14px;
  }

  .question_checkbox-label{
    margin: 0px 0px 24px 0px;
  }

    /*---------------------------------------------------------------------------------------------*/

    .footer_top-inner{
      flex-direction: column;
    }

    .footer_top-title--slide{
      pointer-events: auto;
      margin: 0;
    }

    .footer_top-list{
      margin-top: 12px;
      display: none;
    }

    .footer_bottom-inner{
      flex-direction: column-reverse;
    }

    .footer_copy{
      text-align: center;
    }

    .footer_go-top{
      margin-bottom: 15px;
    }


}

/*~ MEDIA - 450px ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


@media(max-width: 450px) {
  .header_top {
    min-width: none;
    left: 0;
  }

  /*---------------------------------------------------------------------------------------------*/

  .header_title {
    max-width: none;
    font-size: 40px;
  }

  .header-content-buttons {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-content-button {
    margin: 0px 0px 30px 0px;
    text-align: center;
  }

  /*---------------------------------------------------------------------------------------------*/

  .directions_filter-box {
    margin-bottom: 15px;
  }


  /*---------------------------------------------------------------------------------------------*/

  .cert_logos {
    flex-direction: column;
    align-items: center;
  }

  .logos_item {
    margin: 0px 0px 30px 0px;
  }

  .logos_item:last-child {
    margin: 0px;
  }


  /*---------------------------------------------------------------------------------------------*/

  .companies_grid {
    grid-template: repeat(2, auto) / repeat(6, 1fr);
  }

  /*---------------------------------------------------------------------------------------------*/

  .info_socials-item {
    margin-right: 15px;
  }
}